
.toPrint{
	visibility:hidden;
}




@media print {
	
	.toPrint{
        visibility: visible;       
        background-color: white;
        height: 100%;
        width: 100%;
/*
        position: fixed;
*/
        top: 0;
        left: 0;
        margin: 0;
/*         padding: 15px; */
        font-size: 6px;
        line-height: 10px;
        font-stretch: condensed;  	
    }
    
    .container-fluid{
	    display:none;
    }
    
    .modal-header{    	
	    display:none;
    }
    
    .loggedUser{    	
	    display:none;
    }
    
    #bcTarget0{
	    margin-top: -40px;
    }
    
	.etiqueta {
		width: 1.5in;
		height: 0.8in;
		padding: 10px 7px 7px 30px;
		top:0;
		left:0;
 	}
	
	
 	.etiqueta > div.bc {
		margin-left: -5px;
	}

	
	.etiqueta > p.nombre {
		text-align: left;
		line-height: 95%;
		
	}
	
	.etiqueta > p.nombreSeparado {
		text-align: left;
	}
	
	.etiqueta > p {
	    font-family:"Arial Narrow";
		font-size: 12px;
		margin-bottom: 3px;
		margin-top: 1px;
		height: 13px;
	}
	
	.etiqueta > p.precio {	
		font-size: 13px;
		text-align: right;
		font-weight: bold;
		margin-top: -40px;
	}
	
	div.saltopagina{ 
      display:block; 
      page-break-after:always;
   }
   

}


@page {
	size: auto;  /* auto is the current printer page size */
	margin:0;
	padding: 0;
}