#codes{
	margin: 0px;
}
/*
.etiqueta {
	font-size: 8px;
	width: 80px;
	margin-bottom: 10px;
	margin-left: 2px;
	padding: 0px;
}
*/

.etiqueta {
	font-size: 8px;
	width: 38mm;
	margin-bottom: 0px;
	margin-left: 2px;
	padding: 7px;
	border: 1px solid #CCCCCC;
	height: 20mm;
}

.etiqueta > p.nombre {
	text-align: center;
}

.etiqueta > p {
	font-stretch: condensed;
	font-family: "Helvetica Neue";
}

.etiqueta > p.precio {
	margin-bottom: 2px;
	text-align: right;
}

.bc{
	margin-left: 17px;
}

@media print {
	.toPrint{
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 6px;
        line-height: 10px;
        visibility: visible; 
        font-stretch: condensed;
    }
    
    .toPrint >p{
	    line-height: 2px;
        font-stretch: condensed;
        font-size: 6px;
    }
    
    .container-fluid{
	    display:none;
    }
    
    .modal-header{
	    display:none;
    }
    
    .loggedUser{
	    display:none;
	    
    }

}

@page 
{
	size: auto;   /* auto is the current printer page size */
	margin-top: 0.01mm;  /* this affects the margin in the printer settings */
	margin-left: 0.01mm;  /* this affects the margin in the printer settings */
	padding: 0mm;
}