body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f9f9f9;
}

.titleh2{
	padding-left: 33px;
	margin-top: 4px;
	margin-bottom: 28px;
}

.sidebar .filterInput{
	width:100%;
}

.titleh3{
	padding-left: 47px;
}

.divDerecha{
	text-align: right;
	margin-top: 30px;
}

.productosList .row {
	margin-right: 0px;
}

.productoList{
	margin-bottom: 5px;
}

.imgItemList{
	margin: 5px 0px;
}

.modal-header {
	padding: 4px;
}

.modelosCol{
	padding-left: 0px;
	padding-right: 4px;
}

.modelosCol > h6{
	margin:5px;
}

.modeloItemList{
	padding: 2px 9px;
}

.modeloItemListCol1{
	width:73%;
}

.modeloItemListCol2{
	width:13%;
}

.formElement{
	padding-top: 30px;	
	padding-bottom: 10px;	
}

.modeloItemList{
    background-color: #FFFFFF;
}

.modeloItemList:hover{
    background-color: rgba(0,0,0,0.04);
}

.modeloItemList li.linkElem:hover{
  cursor: pointer
}

.fueraDeProduccion{
	background-color: rgba(200, 236, 241, 0.17);
}

.fueraDeProduccion{
	color: rgba(110,115,115,1);
}

.wndProducto > .modal-dialog{
	width:75%;
}

.navbar-form .form-group .inputForm{
	width: 100%;
}

.navbar-form .form-group .colForm{
	padding-left: 0px;
}

.uploaderContainer{
	background-color: rgba(245, 243, 243, 0.44);
	padding-bottom: 11px;
	padding-top: 7px;
	border-radius: 9px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	line-height: 2.428571;
}

.text-center{
	text-align: center;
}

#btnUpload > input{
	height: 20px;
	
}

.fake-uploader{
	border: solid 1px #CACACA;
	width: 139px;
	padding: 5px;
	margin-top: 8px;
}

.fake-uploader > p{
	margin-bottom: 0px;
}

.progress {
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	height: 8px;
	margin: 0;
	margin-top: 5px;
	overflow: hidden;
	width: 260px;
}

.bar{
	background: rgb(78, 187, 152);
	border-radius: 2px;
	height: 8px;
}


.wndProducto .modal-content{
	padding: 0px 5px;
}