

.wndVenta > .modal-dialog{
	width:75%;
}

.wndShowVenta > .modal-dialog{
	width: 70%;
}

.inputMontoFavor{
	width: 116px;
	font-size: small;
}

#labMontoFavor{ 
	margin-right: -18px;
	margin-left: 18px;
}

.wndNotas > .modal-dialog{
	width:75%;
}

.resaltar{
	color: #0ba54b;
}

.radio .FP {
	margin-top: 0px;
}

.highlighted{
	color: #db5555;
}

.notaVenta{
	float: right;
	margin-right: 20px;
	color: #B2ADAD;;
}

.littleForm .colForm{
	margin-right: -25px;
}

#wndOpenVenta .devolucionesPanel{
	font-size: 14px;
}
#wndOpenVenta .devolucionesPanel a, h4, input, button,label {
	font-size: 14px;
}
#wndOpenVenta .devolucionesPanel .panel-body {
	background-color: whitesmoke;
}
.devolucionesTable{
	background-color: whitesmoke;
	margin-bottom: 20px;
}