

.wndVenta > .modal-dialog{
	width:75%;
}

.wndShowVenta > .modal-dialog{
	width: 70%;
}

.inputMontoFavor{
	width: 116px;
	font-size: small;
	margin-left: 112px;
}


.wndNotas > .modal-dialog{
	width:75%;
}


.resaltar{
	color: #0ba54b;
}

.radio .FP {
	margin-top: 0px;
}

.highlighted{
	color: #db5555;
}

.notaVenta{
	float: right;
	margin-right: 20px;
	color: #B2ADAD;;
}
