

.wndVenta > .modal-dialog{
	width:75%;
}

.wndShowVenta > .modal-dialog{
	width: 50%;
}

.inputMontoFavor{
	width: 116px;
	font-size: small;
	margin-left: 155px;
}


.wndNotas > .modal-dialog{
	width:75%;
}

