<form id="form" ng-submit="ok()" editable-form >
        <div id= "wndOpenCategorias" class="modal-body">
		
			<div class="modal-header"  style="margin-bottom: 18px;">
			   	<h3>Datos de la categoría </h3>
			</div>
			    
			<div class="modal-body form-group">
				<div class="form-group">
					<input type="text" class="form-control small" placeholder="Nombre de la categoría" 
							ng-model="categoria.nombre" id="nombre" focus-me="{{true}}" required/>
				</div>	
			</div>
		</div> <!-- / modal-body -->
									            
        <div class="modal-footer">
	        <button type="submit" class="btn btn-primary" >Guardar</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancelar</button>   
        </div>
</form>
   