<form id="form" ng-submit="ok()" editable-form >

 <div id= "wndOpenPedido" class="modal-body">
		
     		
	<div class="modal-header"  style="margin-bottom: 18px;">
		<h3>Datos del pedido</h3>
	</div>
			       
		
		
	<div class="form-group row">
						
		<div class="colForm col-xs-6 col-sm-3">
			<label>Fecha</label>
			<input 	type="date" class="form-control small" 
					placeholder="Fecha" id="fechaPedido" focus-me="{{true}}" 
					ng-model="pedido.created" style="padding-right:0px;" required/>
		</div>
		
		<div class="colForm col-xs-6 col-sm-3">
			<label>Fecha de entrega</label>
			<input 	type="date" class="form-control small" 
					placeholder="Fecha de entrega" id="fechaEntregaPedido"
					ng-model="pedido.fecha_entrega" style="padding-right:0px;" required/>
		</div>	
		
		<div class="colForm col-xs-6 col-sm-4">
			<label>Cliente</label>						

			<input 	type="text" ng-model="form.cliente" class="form-control input-sm" 
					placeholder="Nombre de cliente" id="cliente"
					typeahead-wait-ms="300" typeahead="k as k.nombre for k in getList($viewValue)  | filter:$viewValue | limitTo:8" required />
		</div>
							
		<div class="colForm col-xs-6 col-sm-2">	
			<label>Estado</label>										
			<select class="form-control small filterInput selectpicker" ng-model="pedido.estado" 
					ng-options="estado for estado in estados">
			</select> 
		</div>

	</div>
        
			
	<br/>
        
			
	<textarea class="form-control" rows="3" placeholder="Descripción sobre el pedido" ng-model="pedido.descripcion" required>
	</textarea>
				
	<div class="totalPedidoEspecial row ">
		<div class=" col-sm-5"><label class="labelTotal" >Total: $ </label></div>
		<div class=" col-sm-7"><input class="form-control" id="total" ng-model="pedido.total" required></div>
	</div>	
				
	<!-- PAGOS  -->
	<br/>
	<hr/>

	<div ng-if="userRole == 'admin'" class="pagos"> <!-- El usuario taller no ve esta informacion -->
					
		<h4>Pagos</h4>
	
		<div class="tableContainer" ng-if="pedido.pagos.length > 0" >
			
			<table class="table table-condensed table-hover small">
				<thead>
					<tr>
						<th class="col-md-2">Fecha</th>
						<th class="col-md-2">Monto</th>
						<th class="col-md-1">FP</th>
						<th class="col-md-1">Bonif</th>
						<th class="col-md-2"> </th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in pedido.pagos">
						<td class="col-md-5"> {{p.created}} </span></td>
						<td class="col-md-2"> {{p.monto |currency}}</td>
						<td class="col-md-2"> {{p.FP}}</td>			
						<td class="col-md-2"> {{p.bonificacion}}</td>				
						<td class="col-md-2">														
							<!-- ELIMINAR PAGO -->
							<span 	class="glyphicon glyphicon-remove accionesLst link"  
									title="Eliminar pago"
									ng-click="removePago($index)">
							</span>
												 
						</td>
					</tr>
				</tbody>
			</table>					
		</div>
							
		
		<div class="tableContainer" ng-if="pedido.pagos.length == 0" >
			<p class="avisoSmall" >No se han realizado pagos.</p>
		</div>
								
	</div> <!-- Pagos -->
		
	<br/>
							
	<div class="littleForm row pagosPedidosespeciales">
		<div class="colForm col-xs-12 col-md-3">
			<input 	type="date" class="form-control small" 
					placeholder="Fecha" id="fechaPago" focus-me="{{true}}" 
					ng-model="form.pago.created" style="padding-right:0px;" required/>
		</div>
		
		<div class="colForm col-xs-12 col-md-3">
			<input 	type="number" step="any" id="montoPago" class="form-control small inputForm" 
					ng-model="form.pago.monto" placeholder="Monto" ng-enter="addPago()">
		</div>
		
		<div class="colForm col-xs-12 col-md-3">					
			<select class="form-control small filterInput selectpicker" id="fpPago"
					ng-model="form.pago.FP" 
					ng-options="fp.value as fp.label for (k,fp) in fps"
					ng-init="Efectivo">
			</select> 
		</div>								
		<div class="colForm col-xs-12 col-md-2">
			<input type="number" step="any" id="bonifPago" class="form-control small inputForm" 
					ng-model="form.pago.bonificacion" placeholder="Bonif." ng-enter="addPago()">
		</div>
		
		<div class="colForm col-xs-6 col-md-2">
			<button type="button" class="btn btn-default" ng-click="addPago()">Agregar pago</button>
		</div>
	</div> <!--littleForm -->
							
							
	<label style="margin-left:685px; margin-top:25px;"> 
		Resta pagar:  {{ pedido.total - pedido.totalPagos | currency }} 
	</label>
	
</div> <!-- / modal-body -->
						
						            
<div class="modal-footer">
        	
	<button ng-if="pedido.id != null" class="btn btn-danger btn-sm pull-left" ng-click="deletePedido()">Eliminar pedido</button>

    <button type="submit" class="btn btn-primary" ng-click="save()">Guardar</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancelar</button>
</div>

</form>