
        <div class="modal-body">
		
			<div class="modal-header"  style="margin-bottom: 18px;">
			   		<h3>Datos del producto</h3>
			</div>
			       
			<div class="row">     
		
		<!-- 	<form style="width: 100%;" editable-form  > -->
        		
	        	<div class="form-group" style="width:100%">
				
					<div class="col-xs-12 col-md-8">
						
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-lg-8">
								<input type="text" class="form-control small inputForm" ng-model="producto.nombre"
										placeholder="Nombre de producto">
							</div>

							<div ng-if="(userRole == 'admin') || (userRole == 'local')" class="colForm col-xs-6 col-lg-4">
								<input type="text" class="form-control small" ng-model="producto.precio" placeholder="Precio" style="padding-right:0px;">
							</div>
						</div>
						
						<br/>
						
						<!-- MODELOS / COLORES  -->
						<div class="tableContainer" ng-if="producto.modelos.length > 0" >
						<table class="table table-condensed table-hover small">
						  	<thead>
						  		<tr>
						  			<th class="col-md-5">Colores</th>
						  			<th class="col-md-2 text-center">Últ. venta</th>
						  			<th class="col-md-2 text-center">Últ. rep.</th>
						  			<th class="col-md-1 text-center">Stock</th>
						  			<th class="col-md-2 text-center"> </th>
						  		</tr>
							</thead>
							<tbody>
								<tr ng-repeat="modelo in producto.modelos">
									<td class="col-md-5"><span editable-text="modelo.nombre"> {{ modelo.nombre || 'Sin nombre'}} </span></td>
									<td class="col-md-2 text-center"> {{(modelo.fechaVenta | date:'dd-MM-yy' )|| "Sin venta"}}</td>
									<td class="col-md-2 text-center"> {{(modelo.fechaRep | date:'dd-MM-yy') || "Nuevo" }}</td>
									<td class="col-md-1 text-center"> {{modelo.stock}}</td>						
									<td class="col-md-2 text-center">				
										
										<!-- ELIMINAR  - Si es el unico modelo del producto no se permite eliminarlo -->
									 	<span 	ng-class="{true: 'disabled'}[(producto.modelos.length == 1)]"
									 			class="glyphicon glyphicon-remove accionesLst link"  
									 			title="Eliminar color"
									 			ng-click="(producto.modelos.length == 1) || remove($index)">
										 </span>
										
										 <!-- BAJA - Solo si stock > 0 & id != null --> 
									 	 <span 	ng-class="{true: 'disabled'}[(modelo.stock==0)||(modelo.id==null)]"
									 			class="glyphicon glyphicon-minus accionesLst link" 
									 			title="Baja" 
									 			ng-click=" ((modelo.stock==0) || (modelo.id == null)) || baja($index)">
										 </span>
										
										 <!-- ALTA --> 
									 	 <span 	ng-class="{true: 'disabled'}[(modelo.id==null)]"
									 			class="glyphicon glyphicon-plus link" 
									 			title="Baja" 
									 			ng-click=" ((modelo.id == null)) || alta($index)">
										 </span>
										 
									</td>
								</tr>
							</tbody>
						</table>					
						</div>
	
						<br/>
						
						<div class="littleForm">
							<h5>Nuevo Color</h5>
							<div class="colForm col-xs-12 col-md-8">
								<input type="text" id="newMod" class="form-control small inputForm" 
										ng-model="nuevoModelo" placeholder="Color" ng-enter="add(nuevoModelo)">
							</div>
							<div class="colForm col-xs-6 col-md-4">
								<button class="btn btn-default" ng-click="add(nuevoModelo)">Agregar color</button>
							</div>
						</div>
				
						
					</div>
						
					<div class="col-xs-6 col-md-4">
						
						<!-- UPLOADER -->
						<div class="imgMedia uploaderContainer">
							<form enctype="multipart/form-data">
								<uploader action="api/uploader.php" ></uploader>
							</form>
						</div>
												
						<!-- Fuera de produccion -->
						<div class="checkbox small" style="margin-top: 30px;">
							<label class="pull-right">
								<input type="checkbox" ng-true-value="0" ng-false-value="1" ng-model="producto.enProduccion"> 
								Marcar como <i>fuera de producción </i>
							</label>
						</div>
						
					</div>
									
				</div>	
<!--  			</form>	 -->
		</div>	
        </div>
            
        <div class="modal-footer">
        	
	        <button ng-if="producto.id != null" class="btn btn-danger btn-sm pull-left" ng-click="deleteProducto()">Eliminar producto</button>


            <button class="btn btn-primary" ng-click="ok()">Guardar</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
        </div>
   