
        <div id="wndOpenVenta" class="modal-body">
		
		
			<div class="modal-header"  style="margin-bottom: 18px;">
			   		<h3>Datos de la venta</h3>
			</div>
			       
		
		
			<div class="form-group row">
				<div class="colForm col-sm-4">
					<input type="date" class="form-control small" placeholder="Fecha" id="fechaVenta"  
							ng-model="venta.created" style="padding-right:0px;"/>
				</div>
			</div>
        
			<br/>
			
			<div class="row">
			
				<div class="col-xs-12 col-sm-4">
				
					<div class="boxPeak">
						
						<div class="pull-right arrow-right"></div>
										
						<h5>Agregar producto</h5>
						
						<input type="text" id="newModId" class="form-control small filterInput" focus-me="{{true}}"
							ng-model="form.modelo.id" placeholder="Id de producto" ng-change="search()" ng-enter="add()"/>
					
						<hr/> 
						
						<input type="text" id="newMod" autocomplete="off" ng-model="form.modelo" class="form-control small" 
									placeholder="Nombre de producto"  ng-enter="add()"
									typeahead="mod_option as mod_option.nombre for mod_option in p.mod_options | filter:$viewValue" />
				
						<div class="row" style="margin-top:5px;">
										
							<div class="colForm col-xs-6 col-md-6">
								<button class="btn btn-default" ng-click="add()" > Agregar </button>
							</div>
							
						</div>
					</div>
					
					<br/>
					
					<textarea class="form-control" rows="3" placeholder="Nota sobre la venta" ng-model="venta.nota"></textarea>
					
					
				</div>
				
				
				
				<!-- DETALLE  -->
				<div class=" col-xs-12 col-sm-8">
				
					<div class="tableContainer">
					<table class="table table-condensed table-hover small">
						<thead>
							<tr>
								<th class="col-md-6">Productos</th>
							  	<th>Precio</th>
							  	<th ng-if="(venta.id == null)"  class="col-md-1 text-center"> </th>
							  </tr>
						</thead>
						<tbody>
							<tr ng-repeat="mod in venta.modelos">
								<td class="col-md-5">{{mod.nombre}}</span></td>
								<td class="col-md-1 text-center"> 
									{{mod.precio | currency}}  </td>
								<td class="col-md-2 text-center">													
									<span 	class="glyphicon glyphicon-remove accionesLst link"  
											title="Quitar producto de la venta"
											ng-click="remove($index)">
									</span>
				 
								</td>
							</tr>
							<tr><td class="avisoSmall" colspan="6" style="text-align=center" ng-if="venta.modelos.length == 0">
								No hay productos en la venta</td>
							</tr>
						</tbody>
					</table>										
					</div>
				
					<br/>
			
					<div class="resumenPedido form-horizontal pull-right" role="form">
						
					
						<label style="margin-right:15px;"> Subtotal:  {{venta.total | currency}} </label>
						
						
						<div class="colForm inputMontoFavor">
							<input type="text" ng-model="venta.montoFavor" class="form-control small" placeholder="Monto a favor" />
						</div>
						
						<br/> 

						<div class="form-group">
							    <label for="bonif" class="col-sm-8 control-label small">Bonificación:</label>
							    
							    <div class="col-sm-2"  style="padding:0px">
							    	<input class="form-control" id="bonif" ng-model="venta.bonificacion">
							    </div>
							    
							    <label for="bonif" class="col-sm-2 control-label small" style="text-align:left;padding-left:6px;">%</label>
							</div>
						
						<hr/>
						
						<label style="margin-right:15px;"> Total:  {{ venta.totalFinal | currency }} </label>
						
						<br>
						<br>

	 				</div>
	 				
	 							
					<div ng-if="(venta.pagos.length == 0)" class="form-group col-xs-12 col-sm-12">
							
							<h4>Forma de Pago</h4>	
						
							<label class="radio small col-sm-3">
								<input class="FP" type="radio" value="1" ng-model="venta.variosPagos" 
								name="venta[FP]"> 
								Varios pagos
							</label>
							<label class="radio small col-sm-2" style="margin-top:10px">
								<input class="FP" type="radio" value="0" ng-model="venta.variosPagos"
								name="venta[FP]"> 
								Un pago
							</label>
							<!-- Un pago-->
							<div class ="col-sm-3" ng-show="venta.variosPagos == 0" >										
								<select class="form-control small filterInput selectpicker" id="fpPago"
											ng-model="venta.FP" 
											ng-options="fp.value as fp.label for (k,fp) in fps">
								</select>
							</div> 
						
					</div>

	
					<div class=" col-xs-12 col-sm-12">
		
		 				<!-- PAGOS  -->
		 				<div ng-show="venta.variosPagos == 1" class="pagos col-xs-12 col-sm-12">
		 					<!-- Tabla de Pagos -->
							<div class="tableContainer" ng-if="venta.pagos.length > 0" >
										<table class="table table-condensed table-hover small">
										  	<thead>
										  		<tr>
										  			<th class="col-md-2">Fecha</th>
										  			<th class="col-md-2">Monto</th>
										  			<th class="col-md-1">FP</th>
										  			<th class="col-md-2">Bonificacion </th>
										  		</tr>
											</thead>
											<tbody>
												<tr ng-repeat="v in venta.pagos">
													<td class="col-md-3"> {{v.created}} </span></td>
													<td class="col-md-2"> {{v.monto |currency}}</td>
													<td class="col-md-3"> {{v.FP}}</td>				
													<td class="col-md-2"> {{v.bonificacion}}%</td>				
													<td class="col-md-2">														
														<!-- ELIMINAR PAGO -->
													 	<span 	class="glyphicon glyphicon-remove accionesLst link"  
													 			title="Eliminar pago"
													 			ng-click="removePago($index)">
														 </span>
														 
													</td>
												</tr>
											</tbody>
										</table>					
							</div>
							
							<div class="tableContainer" ng-if="venta.pagos.length == 0" >
								<p class="avisoSmall" >No se han realizado pagos.</p>
							</div>
							
							<br/>			
							
							<br/>
							
							<div class="littleForm row">
								<div class="colForm col-xs-12 col-sm-3">
									<input type="date" class="form-control small" 
									placeholder="Fecha" id="fechaPago" focus-me="{{true}}" 
									ng-model="form.pago.created" style="padding-right:0px;" required/>
								</div>
								<div class="colForm col-xs-12 col-md-3">
									<input type="number" step="any" id="montoPago" class="form-control small inputForm" 
									ng-model="form.pago.monto" placeholder="Monto" ng-enter="add(nuevoMonto)">
								</div>
				 				<div class="colForm col-xs-12 col-md-3">					
									<select class="form-control small filterInput selectpicker" id="fpPago"
									ng-model="form.pago.FP" 
									ng-options="fp.value as fp.label for (k,fp) in fps"
									ng-init="Efectivo">
									</select> 
								</div>
								<div class="colForm col-xs-12 col-md-2">
										<input type="number" step="any" id="bonifPago" class="form-control small inputForm" 
										ng-model="form.pago.bonificacion" placeholder="Bonif." ng-enter="addPago(nuevoMonto)">
								</div>
								<div class="colForm col-xs-6 col-md-3">
									<button type="button" class="btn btn-default" ng-click="addPago()">Agregar pago</button>
								</div>
							</div> <!--littleForm -->
							
							
							<label  class="pull-right" style="margin-right:15px; margin-top:25px;" 
									ng-class="{true: 'resaltar'}[((venta.totalFinal -  venta.totalPagos) < 0)]"> 
								Resta pagar:  {{ venta.deuda| currency }} 
							</label>
							
					</div>								
				</div>
									
	 		</div>		


		</div> <!-- / modal-body -->
						
        <div class="modal-footer">
        	
	        <button class="btn btn-primary"  
	        		ng-class="{true: 'disabled'}[(venta.modelos.length == 0)]"
	        		ng-click="((venta.modelos.length == 0) || ok())">Guardar</button>
	        		
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            
            <button ng-if="venta.id != null" class="btn btn-danger btn-sm pull-left" ng-click="deleteVenta()">Eliminar venta</button>
            
        </div>
   