
        <div id= "wndOpenVenta" class="modal-body">
		
		
			<div class="modal-header"  style="margin-bottom: 18px;">
			   		<h3>Datos de la venta</h3>
			</div>
			       
		
		
			<div class="form-group row">
						
						<div class="colForm col-sm-4">
							<input type="date" class="form-control small" placeholder="Fecha" id="fechaVenta"  
									ng-model="venta.created" style="padding-right:0px;"/>
						</div>
			</div>
        
			
			<br/>
        	
			
			<div class="row">
			
				
				<!-- DETALLE  -->
				<div class="col-xs-12 col-sm-12">
				
					<div class="tableContainer">
						<table class="table table-condensed table-hover small">
							<thead>
								<tr>
									<th class="col-md-6">Productos</th>
								  	<th>Precio</th>
								  	<th ng-if="venta.id == null"  class="col-md-1 text-center"> </th>
								  </tr>
							</thead>
							<tbody>
								<tr ng-repeat="mod in venta.modelos">
									<td class="col-md-5">{{mod.nombre}}</span></td>
									<td class="col-md-1 text-center"> 
										{{mod.precio | currency}}  </td>
								</tr>
								<tr><td class="avisoSmall" colspan="6" style="text-align=center" ng-if="venta.modelos.length == 0">
									No hay productos en la venta</td>
								</tr>
							</tbody>
						</table>										
					</div> <!-- tableContainer -->
				
					<br/>
			
					<div class="resumenPedido form-horizontal pull-right" role="form">
						
						<label style="margin-right:15px;"> Subtotal:  {{venta.total | currency}} </label>
						
						<div class="form-group">
							<label for="montoFavor" class="col-sm-9 control-label small">Monto a favor:</label>
						    <div class="col-sm-2"  style="padding:0px">
						    	<input type="text" class="form-control" id="montoFavor" ng-model="venta.montoFavor" disabled>
						    </div>	
						</div>
						<div class="form-group">
				
						    <label for="bonif" class="col-sm-8 control-label small">Bonificación:</label>
						    
						    <div class="col-sm-2"  style="padding:0px">
						    	<input type="text" class="form-control" id="bonif" ng-model="venta.bonificacion" disabled>
						    </div>
						    
						    <label for="bonif" class="col-sm-2 control-label small" style="text-align:left;padding-left:6px;">%</label>
				
						</div>
						<hr/>
						
						<label style="margin-right:15px;font-size:18px;"> Total:  {{ venta.totalFinal | currency }} </label>
						
						<br>
						
					</div> <!-- resumenPedido -->
						
				</div> <!-- DETALLE  -->

				<!-- PAGOS  -->
				<br/>
				<hr/>

				<div ng-show="venta.deuda > 0" class="pagos col-xs-12 col-sm-12"> 
					
					<h4>Pagos</h4>
	
					<div class="tableContainer" ng-if="venta.pagos.length > 0" >
						<table class="table table-condensed table-hover small">
							<thead>
								<tr>
									<th class="col-md-2">Fecha</th>
								  	<th class="col-md-2">Monto</th>
								  	<th class="col-md-1">FP</th>
								  	<th class="col-md-2">Bonificacion </th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="v in venta.pagos">
									<td class="col-md-3"> {{v.created}} </span></td>
									<td class="col-md-2"> {{v.monto |currency}}</td>
									<td class="col-md-3"> {{v.FP}}</td>						
									<td class="col-md-2"> {{v.bonificacion}}</td>					
									<td class="col-md-2">														
										<!-- ELIMINAR PAGO -->
										<span 	class="glyphicon glyphicon-remove accionesLst link"  
										title="Eliminar pago"
										ng-click="removePagoDefinitivo($index)">
										</span>
									</td>
								</tr>
							</tbody>
						</table>					
					</div>
							
					<div class="tableContainer" ng-if="venta.pagos.length == 0" >
						<p class="avisoSmall" >No se han realizado pagos.</p>
					</div>
					
					<br/>
												
					<div class="littleForm row">
						<div class="colForm col-xs-12 col-sm-3">
							<input type="date" class="form-control small" 
								placeholder="Fecha" id="fechaPago" focus-me="{{true}}" 
								ng-model="form.pago.created" style="padding-right:0px;" required/>
						</div>
						<div class="colForm col-xs-12 col-md-2">
								<input type="number" step="any" id="montoPago" class="form-control small inputForm" 
								ng-model="form.pago.monto" placeholder="Monto" ng-enter="addPagoDefinitivo()">
						</div>
			 			<div class="colForm col-xs-12 col-md-3">					
								<select class="form-control small filterInput selectpicker" id="fpPago"
								ng-model="form.pago.FP" 
								ng-options="fp.value as fp.label for (k,fp) in fps"
								ng-init="Efectivo">
								</select> 
						</div>
						<div class="colForm col-xs-12 col-md-2">
								<input type="number" step="any" id="bonifPago" class="form-control small inputForm" 
								ng-model="form.pago.bonificacion" placeholder="Bonif." ng-enter="addPagoDefinitivo()">
						</div>
						<div class="colForm col-xs-6 col-md-2">
								<button type="button" class="btn btn-default" ng-click="addPagoDefinitivo()">Agregar pago</button>
						</div>
					</div> <!--littleForm -->
								
								
					<label class="pull-right" style="margin-right:15px; margin-top:25px;"> 
							Resta pagar:  {{ venta.deuda| currency }} 
					</label>
		
				
				</div> <!-- Pagos -->

	 		</div> <!-- row -->
	 			
			
		</div> <!-- / modal-body -->
						
						            
        <div class="modal-footer">
        	
	        <button class="btn btn-danger btn-sm pull-left" ng-click="deleteVenta()">Eliminar venta</button>
            
            <button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
            
        </div>
   