<div class="container-fluid">

	<div class="row-fluid">
	
		<div class="h4 seccionTitle"> Clientes </div>


		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left filterInput" role="search">
				<div class="form-group filterInput">
					
					
					<input 	type="text" class="form-control small filterInput" 
							ng-model="query" id='inputSearch' 
							placeholder="Filtro de clientes" ng-enter="filtrarClientes()">					
					<hr/>
					
					<button type="button" class="btn btn-primary" ng-click="nuevo()"> Nuevo cliente </button>
					
					<hr/>
					
					<button type="button" class="btn btn-primary" ng-click="exportarMails()"> Exportar mails </button> 
					      
				</div>
			</form>
		</div>

	
		<!-- BODY-->
		<div class="col-xs-12 col-md-9 ">
			<div class="tableContainer" >
			
				<table class="table table-hover table-condense"  id="infinite-scrolling">
			  		<thead>
			  			<tr>
			  				<th>Cliente</th>
			  				<th>email</th>
			  				<th>Nota</th>
			  			</tr>
			  		</thead>	
			  		<tbody>
			  			<tr ng-repeat="cl in filteredClientes = (data | orderBy:order:true |filter:query )" 
			  						class="clienteList link" ng-click="openCliente(cl.id)">
			  				<td> {{(cl.nombre || '') | truncate:40}}</td>
			  				<td> {{(cl.email || '') | truncate:40}}</td>
			  				<td> {{((cl.nota || '') | truncate:40) || 'Sin nota'}}</td>
		  				</tr>
		  				<tr ng-show="(filteredClientes.length < 1)" class="aviso"> <td colspan="5"> No hay clientes</td></tr>
		   			</tbody>
		  		</table>
	
			</div>
			
			<div class="finClientes"></div>
		</div>
		
	       
       			
	</div>
</div>
