	<!-- barra -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	  
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav">
	        <li>
	        	<img src="img/LVDI.png" data-alt="Los Vados del Isen" style="max-width:105px;max-height:105px;width:auto;height:auto; margin-right:10px; margin-bottom:5px;" />
	        </li>	        
	        <li class="middle"><a href="#!/productos">Productos</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')||(usuario.getUserRole()=='taller')" class="middle">
	        	<a href="#!/pedidos">Pedidos</a></li>
	        <li ng-if="(usuario.getUserRole() =='admin')" class="middle">
	        	<a href="#!/producciones">Producciones</a></li>
	        <li class="middle">
	        	<a href="#!/ventas">Ventas</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="active middle">
	        	<a href="#!/clientes">Clientes Por mayor</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/clientes">Clientes</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/responsables">Resp. de prod</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/colaImpresion">Cola de Impresión</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/reportes">Reportes</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/usuarios">Cuentas</a></li>
	      </ul>     

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>



<div class="container-fluid" ng-controller="clientesPMCtrl" > 

	<div class="row-fluid">
	
		<div class="h2 titleh2"> Clientes por mayor</div>


		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left filterInput" role="search">
			
				<div class="form-group filterInput">
					
					
					<input 	type="text" class="form-control small filterInput" 
							ng-model="query" id='inputSearch' 
							placeholder="Filtro de clientes"  ng-enter="filtrarClientes()" >
					
									
					
					<hr/>
					
					<button type="button" class="btn btn-primary" ng-click="nuevo()"> Nuevo cliente por mayor </button>
					
					      
				</div>
			</form>
		</div>
		
	
		<!-- BODY-->
		<div class="col-xs-12 col-md-9 ">
			<div class="tableContainer" >
			
				<table class="table table-hover table-condense" id="infinite-scrolling">
			  		<thead>
			  			<tr>
			  				<th>Cliente</th>
			  				<th>Local</th>
			  				<th>Tel</th>
			  				<th>Localidad</th>
			  				<th>email</th>
			  			</tr>
			  		</thead>	
			  		<tbody>
			  			<tr ng-repeat="cl in filteredClientes = (data | filter:query | orderBy:order:true)" 
			  						class="clienteList link" ng-click="openCliente(cl.id)">
			  				<td> {{cl.nombre}}</td>
			  				<td> {{cl.local || 'Sin datos' }}</td>
			  				<td> {{cl.tel || 'Sin datos'}}</td>
		 					<td> {{cl.localidad || 'Sin datos'}}</td>						
		 					<td> {{cl.email || 'Sin datos'}}</td>
		  				</tr>
		  				<tr ng-show="(filteredClientes.length < 1)" class="aviso"> <td colspan="5"> No hay clientes</td></tr>
		   			</tbody>
		  		</table>
	
			</div>
			
			<div class="finClientes"></div>
		</div>
		
	       
       			
	</div>
</div>
