<div class="container-fluid" ng-controller="clientesPMCtrl" > 

	<div class="row-fluid">
	
		<div class="h4 seccionTitle"> Clientes por mayor </div>


		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left filterInput" role="search">
			
				<div class="form-group filterInput">
					
					
					<input 	type="text" class="form-control small filterInput" 
							ng-model="query" id='inputSearch' 
							placeholder="Filtro de clientes"  ng-enter="filtrarClientes()" >
					
									
					
					<hr/>
					
					<button type="button" class="btn btn-primary" ng-click="nuevo()"> Nuevo cliente por mayor </button>
					
					      
				</div>
			</form>
		</div>
		
	
		<!-- BODY-->
		<div class="col-xs-12 col-md-9 ">
			<div class="tableContainer" >
			
				<table class="table table-hover table-condense" id="infinite-scrolling">
			  		<thead>
			  			<tr>
			  				<th>Cliente</th>
			  				<th>Local</th>
			  				<th>Tel</th>
			  				<th>Localidad</th>
			  				<th>email</th>
			  			</tr>
			  		</thead>	
			  		<tbody>
			  			<tr ng-repeat="cl in filteredClientes = (data | filter:query | orderBy:order:true)" 
			  						class="clienteList link" ng-click="openCliente(cl.id)">
			  				<td> {{cl.nombre}}</td>
			  				<td> {{cl.local || 'Sin datos' }}</td>
			  				<td> {{cl.tel || 'Sin datos'}}</td>
		 					<td> {{cl.localidad || 'Sin datos'}}</td>						
		 					<td> {{cl.email || 'Sin datos'}}</td>
		  				</tr>
		  				<tr ng-show="(filteredClientes.length < 1)" class="aviso"> <td colspan="5"> No hay clientes</td></tr>
		   			</tbody>
		  		</table>
	
			</div>
			
			<div class="finClientes"></div>
		</div>
		
	       
       			
	</div>
</div>
