	<div class="container-fluid" ng-controller="colaImpresionCtrl"  ng-init="init('Meli','1')">

	<div class="row-fluid">
	
		<div class="h4 seccionTitle"> Cola de impresión </div>


		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar" style="margin-top:28px;">
			<form class="navbar-form navbar-left filterInput" role="search">

				<div class="form-group filterInput">
				
					<h5>Agregar producto</h5>
					
					<input type="text" id="newMod" autocomplete="off" ng-model="modelo" class="form-control small filterInput" 
									placeholder="Nombre de producto" ng-enter="add()"
									typeahead="mod_option as mod_option.nombre for mod_option in mod_options | filter:$viewValue" />

								
					<div class="colForm col-xs-6 col-md-6" style="margin-top:10px;">
							<button class="btn btn-default" ng-click="add()" > Agregar </button>
						</div>
					
					      
				</div>
			</form>
		</div>

	
		<!-- BODY-->
		<div class="col-xs-12 col-md-9 ">
		
		
			<h3>Mis productos </h3>
		
			<div class="tableContainer" >

				<table class="table table-hover table-condense tableCola">
			  		<tbody>
			  			<tr ng-repeat="imp in data.sueltos.modelos" class="pedidosList">
			  				<td> {{imp.nombre}}</td>
							<td class="col-md-2 text-center">							
								<span 	class="glyphicon glyphicon-remove accionesLst link"  
										title="Quitar producto de la cola"
										ng-click="removeProducto(imp.id, $index, 'sueltos')">
								</span>									
							</td>				
		  				</tr>
		  				<tr ng-show="(data.sueltos.modelos.length < 1)" class="aviso"> <td colspan="5"> No hay productos para imprimir</td></tr>
		   			</tbody>
		  		</table>
		  		<div class="btnCola">
			  		<button  ng-disabled="data.sueltos.modelos.length == 0"
			  				class="btn btn-danger btn-sm" ng-click="vaciarCola('sueltos',1)">Vaciar cola</button>
			  		<button  ng-disabled="(data.sueltos.modelos.length == 0)" 
			  				class="btn btn-primary btn-sm" ng-click="imprimir('sueltos',1)" target="_blank">Imprimir</button>
		  		</div>
		  			
			</div>




			<h3>Productos por reposición</h3>
		
			<div class="tableContainer" >

				<table class="table table-hover table-condense tableCola">
			  		<tbody>
			  			<tr ng-repeat="imp in data.reposicion.modelos" class="pedidosList">
			  				<td> {{imp.nombre}}</td>
							<td class="col-md-2 text-center">							
								<span 	class="glyphicon glyphicon-remove accionesLst link"  
										title="Quitar producto de la cola"
										ng-click="removeProducto(imp.id, $index,'reposicion')">
								</span>									
							</td>				
		  				</tr>
		  				<tr ng-show="(data.reposicion.modelos.length < 1)" class="aviso"> <td colspan="5"> No hay productos para imprimir</td></tr>
		   			</tbody>
		  		</table>
		  		<div class="btnCola">
			  		<button  ng-disabled="data.reposicion.modelos.length == 0" 
			  				class="btn btn-danger btn-sm" ng-click="vaciarCola('reposicion',1)">Vaciar cola</button>
			  		<button  ng-disabled="data.reposicion.modelos.length == 0" 
			  				class="btn btn-primary btn-sm" ng-click="imprimir('reposicion',1)" target="_blank">Imprimir</button>
		  		</div>
			</div>
			
			
			<h3>Productos por pedidos</h3>
			
			<div ng-show="(data.pedidos == undefined )" class=" tableContainer aviso"> No hay productos para imprimir</div>	
			<div ng-repeat="($indexP, productosPedidos) in data.pedidos" >				
				<div class="tableContainer">
		  			<table class="table table-hover table-condense">
				  		<thead>
				  			<tr> <th> Cliente: {{productosPedidos.clientePM}}</th><th></th></tr>
				  		</thead>	
				  		<tbody>
				  			<tr ng-repeat="($index2P, imp) in productosPedidos.productos" class="pedidosList">
				  				<td> {{imp.nombre}}  x  {{imp.cantidad}} </td>
								<td class="col-md-2 text-center">							
									<span 	class="glyphicon glyphicon-remove accionesLst link"  
											title="Quitar producto de la cola"
											ng-click="removeFromPedidos(imp.id, $indexP, $index2P)">
									</span>									
								</td>				
			  				</tr>
			  				<tr ng-show="(data.length < 1)" class="aviso"> <td colspan="5"> No hay productos para imprimir</td></tr>
			   			</tbody>
			  		</table>
			  		<div class="btnCola">
				  		<button ng-disabled="productosPedidos.productos.length == 0"
				  				 class="btn btn-danger btn-sm" ng-click="vaciarCola('pedidos',$index)">Eliminar cola</button>
			  			<button  ng-disabled="productosPedidos.productos.length == 0"
			  					class="btn btn-primary btn-sm" ng-click="imprimir('pedidos',$index)" target="_blank" >Imprimir</button>
		  			</div>
				</div>
				<br/>
			</div>
			
			<h3>Productos por devolución de Producción</h3>
			
			<div ng-show="(data.producciones == undefined )" class="tableContainer aviso"> No hay productos para imprimir</div>	
			<div ng-repeat="($indexP, productosProducciones) in data.producciones" >
				
				<div class="tableContainer">					
					<table class="table table-hover table-condense">
				  		<thead>
				  			<tr> <th> Responsable: {{productosProducciones.responsable}}</th><th></th></tr>
				  		</thead>	
				  		<tbody>
				  			<tr ng-repeat="($index2P, imp) in productosProducciones.modelos" class="pedidosList">
				  				<td> {{imp.nombre}}</td>
								<td class="col-md-2 text-center">							
									<span 	class="glyphicon glyphicon-remove accionesLst link"  
											title="Quitar producto de la cola"
											ng-click="removeFromProducciones(imp.id, $indexP, $index2P)">
									</span>									
								</td>				
			  				</tr>
			  				<tr ng-show="(data.length < 1)" class="aviso"> <td colspan="5"> No hay productos para imprimir</td></tr>
			   			</tbody>
			  		</table>
			  		<div class="btnCola">
				  		<button ng-disabled="productosProducciones.modelos.length == 0"
				  				 class="btn btn-danger btn-sm" ng-click="vaciarCola('producciones',$index)">Eliminar cola</button>
			  			<button  ng-disabled="productosProducciones.modelos.length == 0"
			  					class="btn btn-primary btn-sm" ng-click="imprimir('producciones', $index)" target="_blank" >Imprimir</button>
		  			</div>
				</div>
				<br/>
			</div>
			
		</div>
		
	 </div>      
       			
</div>

<div class="toPrint" id="codes"></div>
