<div class="container-fluid">

	<div class="row-fluid">
	
		<div class="modal-header"  style="margin-bottom: 18px;">
			
			<div class="h2 titleh2"> Gastos </div>
			<br/>
        
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<!-- FILTRO DE GASTOS	 -->
					<div class="form-group filterGastos">
						<div class="formElement row ">
							<div class="col-xs-12 col-sm-6">
								<label class="control-label">Desde</label>
								<div  class="form-group">
									<input type="date" class="form-control small filterFechaGastos" 
										ng-model="desde" style="padding-right:0px;"/>
								</div>	
							</div>		
							<div class="col-xs-12 col-sm-6">
								<label class="control-label sinMargin">hasta</label>
								<div  class="form-group">
									<input type="date" class="form-control small filterFechaGastos sinMargin" ng-model="hasta" style="padding-right:0px;"/>
								</div>	
							</div>			
						</div>	
						<div class="row ">
							<div class="form-group col-sm-8 catDropdown">
								<input type="text" id="newCat" autocomplete="off" ng-model="categoriaFilter.nombre" 
								class="form-control small" placeholder="Categoría" typeahead="catFilter_option as catFilter_option.nombre for catFilter_option in catFilter_options"
								typeahead-on-select="setCategoriaFilter($item)" typeahead-wait-ms="300" ng-keyup="searchCategoriaFilterByName()" />
							</div>
							<div class="col-xs-12 col-sm-3">
								<button type="button" class="btn btn-primary sinMargin" ng-click="cargar()"> Mostrar </button>	
							</div>	
						</div>
						<hr/>	      
					</div>

				
			
					<!-- NUEVO GASTO	 -->
					<div class="boxPeak">
								
						<div class="pull-right arrow-right"></div>
										
						<h5>Nuevo gasto</h5>
						
						<div  class="form-group">
								<input type="date" class="form-control small" id="created"
										placeholder="Fecha" ng-model="gasto.created"  
										ng-model="gasto.created" style="padding-right:0px;"/>
						</div>
						
						<div class="form-group">				
							<input type="number" id="monto" class="form-control small filterInput" focus-me="{{true}}"
								ng-model="gasto.monto" placeholder="Monto"/>
						</div>

						<div class="form-group">				
							<select class="form-control small filterInput selectpicker" 
								ng-model="gasto.FP" 
								ng-options="fp.value as fp.label for (k,fp) in fps"
								ng-init="gasto.FP = 'Efectivo'">
							</select> 
						</div>

						<div class="form-group catDropdown">
							<input type="text" id="categoria" autocomplete="off" ng-model="categoria.nombre" 
							class="form-control small" placeholder="Categoría" typeahead="cat_option as cat_option.nombre for cat_option in cat_options"
							typeahead-on-select="setCategoria($item)" typeahead-wait-ms="300" ng-keyup="searchCategoriaByName()" />
						</div>

						<div class="form-group">				
							<textarea id= "descripcion" class="form-control" rows="4" placeholder="Descripción" 
							ng-model="gasto.descripcion" ng-enter="addGasto()"></textarea>
						</div>
										
						<div class="row" style="margin-top:5px;">				
							<div class="colForm col-xs-6 col-md-6">
								<button class="btn btn-default" ng-click="addGasto()" > Agregar </button>
							</div>
						</div>
						
					</div>
					
					<br/>	
				</div>
				
				
				<!-- DETALLE - GASTOS  -->
				<div class=" col-xs-12 col-sm-8">
					<div class="tableContainer">
					<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th class="col-md-1">Fecha</th>
							  	<th class="col-md-2">Categoría</th>
							  	<th class="col-md-3">Descripción</th>
							  	<th class="col-md-2">Monto</th>
							  	<th class="col-md-2">F.Pago</th>
							  	<th class="col-md-1 text-center"> </th>
							  </tr>
						</thead>
						<tbody>
							<tr ng-repeat="g in gastos">
								<td class="col-md-2">{{g.created}}</span></td>
								<td class="col-md-2"> {{g.categoria || "Sin categoría"}}  </td>
								<td class="col-md-3"> {{g.descripcion}}  </td>
								<td class="col-md-2"> {{g.monto | currency}}  </td>
								<td class="col-md-2"> {{g.FP}}  </td>
								<td class="col-md-1 text-center">				
									<span 	class="glyphicon glyphicon-remove accionesLst link"  
											title="Quitar gasto"
											ng-click="removeGasto($index)">
									</span>
								</td>
							</tr>
							<tr><td class="aviso" colspan="6" style="text-align=center" ng-if="gastos.length == 0">
								No hay gastos</td>
							</tr>
						</tbody>
					</table>										
					</div>
	 			</div>	
			</div>		
	</div>
</div>
