<iframe src="templates/sink.html" name="sink" style="display:none"></iframe>

<div  class="container">
<hr>
	<div class="span5"> 
        
    	<form class="form-signin" role="form" action="templates/sink.html" target="sink" 
    			name="loginForm" ng-submit="login(credentials)" novalidate >
    	
        	<input type="text" ng-model="credentials.usuario" class="form-control" placeholder="Usuario" required autofocus>
            <input type="password" ng-model="credentials.clave" class="form-control" placeholder="Clave" required>
            <br>
            <input type="submit" value="Entrar" class="btn btn-lg btn-primary btn-block">
            <br>
            <div> {{aviso}}</div>
            
        </form>
        
    </div>
     

</div>

