	<!-- barra -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	  
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav">
	        
	        <li>
	        	<img src="img/LVDI.png" data-alt="Los Vados del Isen" style="max-width:105px;max-height:105px;width:auto;height:auto; margin-right:10px;margin-bottom:5px;" />
	        </li>
	        
	        <li class="middle"><a href="#!/productos">Productos</a></li>
	        <li class="active middle"><a href="#">Pedidos</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="middle">
	        	<a href="#!/producciones">Producciones</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="middle">
	        	<a href="#!/ventas">Ventas</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/clientesPM">Clientes Por mayor</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole() == 'local'))" class="middle">
	        	<a href="#!/clientes">Clientes</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole() == 'local'))" class="middle">
	        	<a href="#!/responsables">Resp. de prod</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole() == 'local'))" class="middle">
	        	<a href="#!/colaImpresion">Cola de Impresión</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/reportes">Reportes</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/usuarios">Cuentas</a></li>
	        
	        
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#!/">Salir</a></li>
	      </ul>
	      
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>



<div class="container-fluid" ng-controller="pedidosCtrl" >

	<div class="row-fluid">
	
		<div class="h2 titleh2"> Pedidos </div>


		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left" role="search">

				<div class="form-group filterInput">
					
					
					<input 	type="text" class="form-control small filterInput" 
							ng-model="query.cliente" id='inputSearch' 
							placeholder="Filtro por cliente" >
					
					
					<div class="formElement">
					
						<label class="control-label">Mostrar</label>
						
						<div class="controls opciones">
							<label class="radio small">
								<input type="radio" value="Pendiente" ng-model="filterPedidos.estado"
								name="pedido[estado]"> 
								Sólo los Pendientes
							</label>
							<label class="radio small">
								<input type="radio" value="Terminado" ng-model="filterPedidos.estado"
								name="pedido[estado]"> 
								Sólo los Terminados
							</label>						
							<label class="radio small">
								<input type="radio" value="Entregado" ng-model="filterPedidos.estado"
								name="pedido[estado]"> 
								Sólo los Entregados
							</label>
							<label class="radio small">
								<input type="radio" value="" ng-model="filterPedidos.estado" 
								name="pedido[estado]"> 
								Todos
							</label>
							
						</div>	
					</div>
			
					<hr/>
					
					<button type="button" class="btn btn-primary" ng-click="nuevo(usuario.getUserRole())"> Nuevo Pedido </button>
					
					      
				</div>
			</form>
		</div>

	
		<!-- BODY-->
		<div class="col-xs-12 col-md-9 ">
			<div class="tableContainer" >
			
				<table class="table table-hover table-condense">
			  		<thead>
			  			<tr>
			  				<th>Cliente</th>
			  				<th>Fecha</th>
			  				<th>Entrega</th>
			  				<th ng-if="(usuario.getUserRole()=='admin')">Total</th>
			  				<th ng-if="(usuario.getUserRole()=='admin')">Bon.</th>
			  				<th>Estado</th>
			  			</tr>
			  		</thead>	
			  		<tbody>
			  			<tr ng-repeat="pedido in filteredPedidos = (data | orderBy:order:false | filter:query | filter:filterPedidos)" 
			  						class="pedidosList link" ng-click="openPedido(pedido.id, usuario.getUserRole())">
			  				<td> {{pedido.cliente}}</td>
			  				<td> {{pedido.fecha | date:'dd/MM/yyyy'}}</td>
			  				<td> {{(pedido.fecha_entrega | date:'dd/MM/yyyy') || 'Sin datos'}}</td>
			  				<td ng-if="(usuario.getUserRole()=='admin')"> {{pedido.total | currency}}</td>
		 					<td ng-if="(usuario.getUserRole()=='admin')" > {{pedido.bonificacion}}%</td>						
		 					<td> {{pedido.estado}}</td>
		  				</tr>
		  				<tr ng-show="(filteredPedidos.length < 1)" class="aviso"> <td colspan="5"> No hay pedidos</td></tr>
		   			</tbody>
		  		</table>
	
			</div>
			
			
		</div>
		
	       
       			
	</div>
</div>
