	<!-- barra -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	  
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav">	        
	        <li>
	        	<img src="/LVDI/img/LVDI.png" data-alt="Los Vados del Isen" style="max-width:105px;max-height:105px;width:auto;height:auto; margin-right:10px; margin-bottom:5px;" />
	        </li>	      
	        <li class="middle"><a href="#!/productos">Productos</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')||(usuario.getUserRole()=='taller')" class="middle">
	        	<a href="#!/pedidos">Pedidos</a></li>
	        <li class="active middle">
	        	<a href="#">Producciones</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local')" class="middle">
	        	<a href="#!/ventas">Ventas</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/clientesPM">Clientes Por mayor</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/clientes">Clientes</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/responsables">Resp. de prod</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/colaImpresion">Cola de Impresión</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/reportes">Reportes</a></li>	 
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/usuarios">Cuentas</a></li>     
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#!/">Salir</a></li>
	      </ul>
	      
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


<div class="container-fluid" ng-controller="produccionesCtrl" >

	<div class="row-fluid">
	
		<div class="h2 titleh2"> Producciones </div>



		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					
					
					<input type="text" class="form-control small filterInput" 
					ng-model="query" id='inputSearch' 
					placeholder="Filtro de producciones" >
					
					<div class="formElement">
					
						<label class="control-label">Mostrar</label>
						
						<div class="controls opciones">
							<label class="radio small">
								<input type="radio" value="Retirado" ng-model="filterProds.estado"
								name="pedido[estado]"> 
								Sólo los Retirados
							</label>
							<label class="radio small">
								<input type="radio" value="Devuelto" ng-model="filterProds.estado"
								name="pedido[estado]"> 
								Sólo los Devueltos
							</label>						
							<label class="radio small">
								<input type="radio" value="" ng-model="filterProds.estado" 
								name="pedido[estado]"> 
								Todos
							</label>
							
						</div>	
					</div>
					
					<hr/>
					
					<button type="button" class="btn btn-primary" ng-click="nuevo(usuario.getUserRole())"> Nueva produccion </button>
					
					      
				</div>
			</form>
		</div>



		<!-- BODY-->
		<div class="col-xs-12 col-md-9 ">
			<div class="tableContainer" >
			
				<table class="table table-hover table-condense">
			  	<thead>
			  		<tr>
			  			<th>Responsable</th>
			  			<th>Fecha</th>
			  			<th>Fecha Devolución</th>
			  			<th>Estado</th>
			  		</tr>
				</thead>
				<tbody>	
					<tr ng-repeat="prod in filteredProds = (data | orderBy:order:false | filter:query | filter:filterProds)" 
			  						class="prodsList link"  ng-click="openProduccion(prod.id)">
			  						
						<td> {{prod.responsable}} </td>
						<td> {{prod.fecha | date:'dd/MM/yyyy' }} </td>
						<td> {{prod.fecha_devolucion | date:'dd/MM/yyyy'}} </td>				
						<td> {{prod.estado}} </td>
						
					</tr>
					
		  			<tr ng-show="(filteredProds.length < 1)" class="aviso"> <td colspan="4"> No hay producciones</td></tr>
				</tbody>
			</table>
		</div>
		
		<!-- SIDEBAR-->			

       
       			
	</div>
</div>
