<div class="container-fluid" ng-controller="productosCtrl" >

	<div class="row-fluid">
	
		<div class="h4 seccionTitle"> Productos </div>
			
		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					
					<input type="text" class="form-control small filterInput" ng-model="queryId" placeholder="Id de producto" >
					
					<hr/>
					
					<input type="text" class="form-control small filterInput" ng-model="query" id='inputSearch' placeholder="Filtro de productos" >
					
					
					<div class="checkbox formElement">
						<label class="small">
							<input type="checkbox" ng-true-value="1" ng-false-value="" ng-model="filterProds.reponer"> 
							Sólo los que necesitan reposición 
						</label>
					</div>
					
					<div class="checkbox formElement">
						<label class="small">
							<input type="checkbox" ng-true-value="" ng-false-value='1' ng-model="filterProds.enProduccion"> 
							Incluir <i>fuera de producción </i>
						</label>
					</div>
					
					<hr/>
					
					<button ng-if="(usuario.getUserRole() == 'admin')" type="button" class="btn btn-primary" ng-click="nuevo(usuario.getUserRole())"> Nuevo Producto </button>
					      
				</div>
			</form>
		</div>
       
       	<!-- BODY-->
		<div class="col-xs-12 col-md-9 productosList">
	       
			
	       	<div ng-repeat= "producto in filteredProducts = (data |  orderBy:order:true | filter:query | filter:filterProds | filter:search)" >
					<ng-producto producto="producto" > </ng-producto>
			</div>
			<p ng-show="(filteredProducts.length < 1)" class="aviso"> No hay productos</p>

			<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img src="img/loading.gif" /></div></div>


		</div>
		
		<div class="finProductos"></div>

				
	</div>
	
</div> 

 
    