	<!-- barra -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	  
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav">
	        
	        <li>
	        	<img src="img/LVDI.png" data-alt="Los Vados del Isen" style="max-width:105px;max-height:105px;width:auto;height:auto; margin-right:10px;margin-bottom:5px;" />
	        </li>
	        
	        <li class="middle"><a href="#!/productos">Productos</a></li>
	        <li ng-if="(usuario.getUserRole() =='admin')||(usuario.getUserRole()  =='taller')" class="middle">
	        	<a href="#!/pedidos">Pedidos</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="middle">
	        	<a href="#!/producciones">Producciones</a></li>
	        <li class="middle">
	        	<a href="#!/ventas">Ventas</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/clientesPM">Clientes Por mayor</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="middle">
	        	<a href="#!/clientes">Clientes</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="middle">
	        	<a href="#!/responsables">Resp. de prod</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="middle">
	        	<a href="#!/colaImpresion">Cola de Impresión</a></li>
	        <li class=" active middle">
	        	<a href="#">Reportes</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/usuarios">Cuentas</a></li>
        
	      </ul>
	
	      
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>



<div class="container-fluid" ng-controller="reportesCtrl" >

	<div class="row-fluid">
	
		<div class="h2 titleh2"> Próximamente... </div>


	</div>
</div>
