<div class="container-fluid"> 
	
	<div class="h4 seccionTitle"> Responsables de producciones</div>
		
	
	<div class="row-fluid">

		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left filterInput" role="search">
			
				<div class="form-group filterInput">
					
					
					<input 	type="text" class="form-control small filterInput" 
							ng-model="query" id='inputSearch' 
							placeholder="Filtro de resp. de prod." ng-enter="filtrarResponsables()">
					<hr/>
					
					<button type="button" class="btn btn-primary" ng-click="nuevo()"> Nuevo resp. de prod </button>
					
					      
				</div>
			</form>
		</div>
		
	
		<!-- BODY-->
		<div class="col-xs-12 col-md-9 ">
			<div class="tableContainer" >
			
				<table class="table table-hover table-condense" id="infinite-scrolling">
			  		<thead>
			  			<tr>
			  				<th>Nombre</th>
			  				<th>Marca</th>
			  				<th>Tel</th>
			  				<th>Tel2</th>
			  				<th>email</th>
			  			</tr>
			  		</thead>	
			  		<tbody>
			  			<tr ng-repeat="res in filteredRes = (data | filter:query | orderBy:order:true)" 
			  						class="resList link" ng-click="openRes(res.id)">
			  				<td> {{res.nombre}}</td>
			  				<td> {{res.marca || 'Sin datos' }}</td>
			  				<td> {{res.tel || 'Sin datos'}}</td>
		 					<td> {{res.tel2 || 'Sin datos'}}</td>						
		 					<td> {{res.email || 'Sin datos'}}</td>
		  				</tr>
		  				<tr ng-show="(filteredRes.length < 1)" class="aviso"> <td colspan="5"> No hay responsables de producciones</td></tr>
		   			</tbody>
		  		</table>
	
			</div>
						
			<div class="finResponsables"></div>
			
		</div>
		
	       
       			
	</div>
</div>
