	<!-- barra -->
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	  
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <ul class="nav navbar-nav">	        
	        <li>
	        	<img src="img/LVDI.png" data-alt="Los Vados del Isen" style="max-width:105px;max-height:105px;width:auto;height:auto; margin-right:10px; margin-bottom:5px;" />
	        </li>	      
	        <li class="middle"><a href="#!/productos">Productos</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')||(usuario.getUserRole()=='taller')" class="middle">
	        	<a href="#!/pedidos">Pedidos</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="middle">
	        	<a href="#!/producciones">Producciones</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local')" class="middle">
	        	<a href="#!/ventas">Ventas</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/clientesPM">Clientes Por mayor</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="middle">
	        	<a href="#!/clientes">Clientes</a></li>
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="active middle">
	        	<a href="#">Resp. de prod</a></li>	
	        <li ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole()=='local'))" class="middle">
	        	<a href="#!/colaImpresion">Cola de Impresión</a></li>
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/reportes">Reportes</a></li>	  
	        <li ng-if="(usuario.getUserRole()=='admin')" class="middle">
	        	<a href="#!/usuarios">Cuentas</a></li>    
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#!/">Salir</a></li>
	      </ul>
	      
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>



<div class="container-fluid" ng-controller="responsablesCtrl" > 

	<div class="row-fluid">
	
		<div class="h2 titleh2"> Responsables de producciones</div>


		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left filterInput" role="search">
			
				<div class="form-group filterInput">
					
					
					<input 	type="text" class="form-control small filterInput" 
							ng-model="query" id='inputSearch' 
							placeholder="Filtro de resp. de prod." >
					
									
					
					<hr/>
					
					<button type="button" class="btn btn-primary" ng-click="nuevo()"> Nuevo resp. de prod </button>
					
					      
				</div>
			</form>
		</div>
		
	
		<!-- BODY-->
		<div class="col-xs-12 col-md-9 ">
			<div class="tableContainer" >
			
				<table class="table table-hover table-condense">
			  		<thead>
			  			<tr>
			  				<th>Nombre</th>
			  				<th>Marca</th>
			  				<th>Tel</th>
			  				<th>Tel2</th>
			  				<th>email</th>
			  			</tr>
			  		</thead>	
			  		<tbody>
			  			<tr ng-repeat="res in filteredRes = (data | filter:query | orderBy:order:true)" 
			  						class="resList link" ng-click="openRes(res.id)">
			  				<td> {{res.nombre}}</td>
			  				<td> {{res.marca || 'Sin datos' }}</td>
			  				<td> {{res.tel || 'Sin datos'}}</td>
		 					<td> {{res.tel2 || 'Sin datos'}}</td>						
		 					<td> {{res.email || 'Sin datos'}}</td>
		  				</tr>
		  				<tr ng-show="(filteredRes.length < 1)" class="aviso"> <td colspan="5"> No hay responsables de producciones</td></tr>
		   			</tbody>
		  		</table>
	
			</div>
			
			
		</div>
		
	       
       			
	</div>
</div>
