<div class="container-fluid">

	<div class="row-fluid">
	
		<div class="h2 titleh2"> Resumen </div>

		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-2 sidebar">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="formElement">
							<label class="control-label">Desde</label>
							<br/>	
							<div  class="form-group">
								<input type="date" class="form-control small" id="desde" placeholder="Fecha" 
								ng-model="desde" style="padding-right:0px;"/>
							</div>
							<br/>	
							<br/>	
							<label class="control-label">hasta</label>
							<br/>	
							<div  class="form-group">
								<input type="date" class="form-control small" id="hasta" placeholder="Fecha" 
								ng-model="hasta" style="padding-right:0px;"/>
							</div>
						</div>	
					<hr/>
					<button type="button" class="btn btn-primary" ng-click="cargar()"> Mostrar </button>
				</div>
			</form>
		</div>



		<!-- BODY-->
		<div class="col-xs-12 col-md-10 ">
			<div class="tableContainer" style="display:flex" >
				<div class="col-xs-12 col-md-7 colDetalle">
					<p class="h3"> Ingresos</p>

					<div>
						<div class="title2Resumen title2ResumenIngresos">
							<div class="col-md-7">Ventas</div>
							<div class="col-md-5 totales">Total: {{resumenVentas.tarjeta + resumenVentas.efectivo + resumenVentas.cheque +resumenVentas.debito  | currency}}</div>
						</div>	
						<div class="detalleResumen detalleSimple">
							<div class="col-md-8">Efectivo</div>
							<div class="col-md-4 totales">{{resumenVentas.efectivo | currency }}</div>
						</div>
						<div class="detalleResumen detalleSimple">
							<div class="col-md-8">Tarjeta</div>
							<div class="col-md-4 totales">{{resumenVentas.tarjeta | currency }}</div>
						</div>	
						<div class="detalleResumen detalleSimple">
							<div class="col-md-8">Cheque</div>
							<div class="col-md-4 totales">{{resumenVentas.cheque | currency }}</div>
						</div>
						<div class="detalleResumen detalleSimple">
							<div class="col-md-8">Débito</div>
							<div class="col-md-4 totales">{{resumenVentas.debito | currency }}</div>
						</div>
					</div>
					&nbsp;
					<div>
						<div class="title2Resumen title2ResumenIngresos">
							<div class="col-md-7"> Por Mayor </div>
							<div class="col-md-5 totales">Total: {{(resumenPorMayor.tarjeta.total + resumenPorMayor.efectivo.total + resumenPorMayor.cheque.total + resumenPorMayor.transfVictor.total + resumenPorMayor.transfFede.total) | currency}}</div>
						</div>

				 		<div  class="panel-default">
					 		<ng-resumenfp content="collapseEfectivo" seccion="Efectivo" total={{resumenPorMayor.efectivo.total}} pagos="resumenPorMayor.efectivo.pagos"></ng-resumenfp>
					 		
					 		<ng-resumenfp content="collapseTarjeta" seccion="Tarjeta" total={{resumenPorMayor.tarjeta.total}} pagos="resumenPorMayor.tarjeta.pagos"></ng-resumenfp>
					 		
					 		<ng-resumenfp content="collapseCheque" seccion="Cheque" total={{resumenPorMayor.cheque.total}} pagos="resumenPorMayor.cheque.pagos"></ng-resumenfp>
					 		
					 		<ng-resumenfp content="collapsetransfVictor" seccion="Transf. V" total={{resumenPorMayor.transfVictor.total}} pagos="resumenPorMayor.transfVictor.pagos"></ng-resumenfp>
							
							<ng-resumenfp content="collapsetransfFede" seccion="Transf. F" total={{resumenPorMayor.transfFede.total}} pagos="resumenPorMayor.transfFede.pagos"></ng-resumenfp>
						</div>

				 	</div>
					&nbsp;

				</div>

				<div class="col-xs-12 col-md-5 colGastos">
					<p class="h3"> Gastos </p>
					<div class="title2Resumen title2ResumenGastos">
						<div class="col-md-6"> Todas las categorías </div>
						<div class="col-md-6 totales">Total: {{(resumenGastos.cheque + resumenGastos.tarjeta + resumenGastos.efectivo + resumenGastos.debito + resumenGastos.transferencia) | currency}}</div>
					</div>
					<div class="detalleResumen detalleSimple">
						<div class="col-md-8">Efectivo</div>
						<div class="col-md-4 totales">{{resumenGastos.efectivo | currency }}</div>
					</div>
					<div class="detalleResumen detalleSimple">
						<div class="col-md-8">Tarjeta</div>
						<div class="col-md-4 totales">{{resumenGastos.tarjeta | currency }}</div>
					</div>	
					<div class="detalleResumen detalleSimple">
						<div class="col-md-8">Cheque</div>
						<div class="col-md-4 totales">{{resumenGastos.cheque | currency }}</div>						
					</div>
					<div class="detalleResumen detalleSimple">
						<div class="col-md-8">Débito</div>
						<div class="col-md-4 totales">{{resumenGastos.debito | currency }}</div>
					</div>
					<div class="detalleResumen detalleSimple">
						<div class="col-md-8">Transferencia</div>
						<div class="col-md-4 totales">{{resumenGastos.transferencia | currency }}</div>
					</div>
				</div>

				<div class="loading-spiner-holder" data-loading >
					<div class="loading-spiner"><img src="img/loading.gif" /></div>
				</div>


		</div>

	</div>
</div>
