<div class="container-fluid">

	<div class="row-fluid">
	
		<div style="margin-bottom: 18px;">
		
			<div class="h2 titleh2"> Movimientos </div>
			<br/>
			
			<div class="row">
			
				<div class="col-xs-12 col-sm-3">
					<div class="form-group">

						<input type="text" id="newModId" class="form-control small filterInput" focus-me="{{true}}"
						ng-model="form.idModelo" placeholder="Id de producto" ng-change="search()" />
						<br/>

						<input type="text" id="newMod" autocomplete="off" ng-model="form.modelo.nombre" 
							class="form-control small" placeholder="Nombre de producto" typeahead="mod_option as mod_option.nombre for mod_option in p.mod_options"
							typeahead-on-select="setModel($item)" typeahead-wait-ms="300" ng-keyup="searchByName()" />
						<br/>
						<div  class="form-group">
							<label class="control-label">Desde</label>
							<input type="date" class="form-control small filterFechaGastos" id="desde"
									ng-model="desde" style="padding-right:0px;"/>
						</div>	
						<div  class="form-group">
							<label class="control-label">hasta</label>
							<input type="date" class="form-control small filterFechaGastos" id="hasta"
									ng-model="hasta" style="padding-right:0px;"/>
						</div>	
						<button type="button" class="btn btn-primary" ng-click="mostrarMovimientos()"> Mostrar </button>
					</div>
				</div>		
			
				<div class=" col-xs-12 col-sm-9">
				
					<div class="tableContainer">
					<table class="table table-condensed table-hover" id="infinite-scrolling">
						<thead>
							<tr>
								<th class="col-md-2">Fecha</th>
							  	<th class="col-md-2">Tipo</th>
							  	<th class="col-md-6">Nota</th>
							  </tr>
						</thead>
						<tbody>
							<tr ng-repeat="m in movimientos">
								<td class="col-md-2">{{m.created}}</span></td>
								<td class="col-md-2"> {{m.tipo}}  </td>
								<td class="col-md-6"> {{m.nota}}  </td>
							</tr>
							<tr><td class="aviso" colspan="6" style="text-align=center" ng-if="movimientos.length == 0">
								No hay movimientos para mostrar</td>
							</tr>
						</tbody>
					</table>	
	 			
	 				<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img src="img/loading.gif" /></div></div>									

					</div>
				
				<div class="finMovimientos"></div>
			</div>	
</div>
