<div class="container-fluid">
	<div class="row-fluid">
		<div class="h4 seccionTitle"> Usuarios </div>
		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left filterInput" role="search">
				<div class="form-group filterInput">
					<button type="button" class="btn btn-primary" ng-click="nuevo()"> Nuevo usuario </button>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-md-9 ">
			<div class="tableContainer" >
				<table class="table table-hover table-condense">
			  		<thead>
			  			<tr>
			  				<th>Usuario</th>
			  				<th>Perfil</th>
			  			</tr>
			  		</thead>	
			  		<tbody>
			  			<tr ng-repeat="us in data" class="link" ng-click="openUsuario(us.id)">
			  				<td> {{us.nombre }}</td>
			  				<td> {{nomPerfiles[us.perfiles_id] }}</td>
		  				</tr>
		   			</tbody>
		  		</table>
			</div>
		</div>
	</div>
</div>
