<div class="container-fluid" data-ng-init="cargarVentas()">

	<div class="row-fluid">
	
		<div class="h4 seccionTitle"> Ventas </div>
 

		<!-- SIDEBAR-->			
		<div class=" col-xs-12 col-md-3 sidebar">
			<form class="navbar-form navbar-left" role="search">

				<div class="form-group filterInput">
					
						<label class="control-label">Mostrar</label>
						
						<div class="controls opciones">
							<label class="radio small">
								<input type="radio" value="hoy" ng-model="filterVentas.filter"
								name="venta[filtro]"
								ng-change="filtrarVentas(value)"> 
								Sólo hoy
							</label>
							<label class="radio small">
								<input type="radio" value="todos" ng-model="filterVentas.filter" 
								name="venta[filtro]"
								ng-change="filtrarVentas(value)"> 
								Todos
							</label>			
							<label class="radio small">
								<input type="radio" value="conDeuda" ng-model="filterVentas.filter" 
								name="venta[filtro]"
								ng-change="filtrarVentas(value)"> 
								Con deuda
							</label>
							
					</div>
					
					<hr/>
					
					<button type="button" class="btn btn-primary" ng-click="nuevo(usuario.getUserRole())"> Nueva Venta </button>
					
					<br/>
					<br/>

					<button type="button" class="btn btn-primary" ng-click="openNotas()"> Notas </button>

					      
				</div>
			</form>
		</div>


		<!-- BODY-->
		<div class="col-xs-12 col-md-9 ">
			<div class="tableContainer" >
				
				<table class="table table-hover table-condense" id="infinite-scrolling">
			  		<thead>
			  			<tr>
			  				<th>Fecha</th>
			  				<th>Detalle</th>
			  				<th ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole() == 'local'))" >Total</th>
			  				<th ng-if="((usuario.getUserRole()!='taller'))" >Bon.</th>
			  				<th ng-if="((usuario.getUserRole()=='admin')||(usuario.getUserRole() == 'local'))" >FP</th>
			  			</tr>
			  		</thead>	
			  		<tbody>
			  			<tr ng-repeat="venta in filteredVentas = (data | orderBy:order:false)" 
			  						class="link" 
			  						ng-click = "!((usuario.getUserRole()=='admin')||(usuario.getUserRole() == 'local')) || viewVenta(venta.id,venta.deuda,usuario.getUserRole())">
			  				<td> {{venta.created | date:'dd/MM/yyyy' }}</td>
			  				<td>
			  					<span ng-if="venta.nota!=''" href="#" class="tt1 glyphicon glyphicon-comment notaVenta" popover data-trigger="hover" data-selector="" 
			  						data-content={{venta.nota}}></span>
			  					<ul ng-repeat="mod in venta.modelos">  
				  					<li> {{mod.nombre}}</li>			  			
			  					</ul>	
			  				</td>
			  				<td ng-if="((usuario.getUserRole()!='taller'))" ng-class="{true: 'highlighted'}[venta.deuda>0]"> 
			  					{{(venta.total-venta.montoFavor-venta.totalDevoluciones) - (((venta.bonificacion/100)*(venta.total-venta.montoFavor-venta.totalDevoluciones)))| currency}}</td>
		 					<td ng-if="((usuario.getUserRole()!='taller'))"> 
		 						{{venta.bonificacion}}%</td>	
		 					<td ng-if="((usuario.getUserRole()!='taller'))"> 
		 						{{venta.FP}}</td>	
		  				</tr>
		  				<tr ng-show="(filteredVentas.length < 1)" class="aviso"> <td colspan="4"> No hay ventas</td></tr>
		   			</tbody>
		  		</table>
		  		
		  		<div class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img src="img/loading.gif" /></div></div>


	
			</div>
			
			<div class="finVentas"></div>
			
		</div>
		
       			
	</div>
</div>