
        <div id= "wndOpenPedido" class="modal-body">
		
		
			<div class="modal-header"  style="margin-bottom: 18px;">
			   		<h3>Datos del pedido</h3>
			</div>
			       
		
		
			<div class="form-group row">
						
						<div class="colForm col-xs-6 col-sm-3">
							<input type="date" class="form-control small" 
									placeholder="Fecha" id="fechaPedido" focus-me="{{true}}" 
									ng-model="pedido.fecha" style="padding-right:0px;"/>
						</div>
						<div class="colForm col-xs-6 col-sm-3">
							<input type="date" class="form-control small" 
									placeholder="Fecha de entrega" id="fechaEntregaPedido"
									ng-model="pedido.fecha_entrega" style="padding-right:0px;"/>
						</div>	
						<div class="colForm col-xs-6 col-sm-4">
							<input type="text" autocomplete="off" ng-model="form.cliente"  class="form-control small" 
									placeholder="Nombre de cliente"
									typeahead="cl_option as cl_option.nombre for cl_option in p.cl_options | filter:$viewValue" />
						</div>
							
						<div class="colForm col-xs-6 col-sm-2">					
							<select class="form-control small filterInput selectpicker" ng-model="pedido.estado" 
								ng-options="estado for estado in estados">
							</select> 
						</div>

			</div>
        
			
			<br/>
        
			
			
			<div  class="row">
			
				<div class="col-xs-12 col-sm-4">
				
					<div ng-if="EditEnabled" class="boxPeak">
						
						<div class="pull-right arrow-right"></div>
										
						<h5>Agregar producto</h5>
						<input type="text" id="newMod" autocomplete="off" ng-model="form.modelo" class="form-control small" 
									placeholder="Nombre de producto"
									typeahead="mod_option as mod_option.nombre for mod_option in p.mod_options | filter:$viewValue" />
				
						<div class="row" style="margin-top:5px;">
							<div class="colForm col-xs-6 col-sm-5">
								<input type="number" class="form-control small" 
										ng-model="form.modelo.cantidad" placeholder="Cantidad" style="padding-right:0px;"/>
							</div>
										
							<div class="colForm col-xs-6 col-md-6">
								<button class="btn btn-default" ng-click="add()" > Agregar </button>
							</div>
							
						</div>
					</div>
					
					<br/>
					
					<textarea class="form-control" rows="3" placeholder="Nota sobre el pedido" ng-model="pedido.nota"></textarea>
					
				</div>
				
				
				
				<!-- DETALLE  -->
				<div class=" col-xs-12 col-sm-8">
				
					<div class="tableContainer">
					<table class="table table-condensed table-hover small">
						<thead>
							<tr>
								<th class="col-md-5">Productos</th>
							  	<th class="col-md-2 text-center">Cant</th>
							  	<th ng-if="(userRole == 'admin')" class="col-md-2 text-center">P.U.</th>
							  	<th ng-if="(userRole == 'admin')" class="col-md-1 text-center">P.Tot</th>
							  	<th class="col-md-1 text-center">Estado</th>
							  	<th class="col-md-2 text-center"> </th>
							  </tr>
						</thead>
						<tbody>
							<tr ng-repeat="mod in pedido.modelos">
								<td class="col-md-5">{{mod.nombre}}</span></td>
								<td class="col-md-2 text-center editableCell">
									<span editable-text="mod.cantidad">{{mod.cantidad || 1}}</span>
								</td>
								<td ng-if="(userRole == 'admin')" class="col-md-2 text-center"> 
									{{mod.precio | currency}} </td>
								<td ng-if="(userRole == 'admin')" class="col-md-1 text-center"> 
									{{(mod.precio * mod.cantidad) | currency}}  </td>
								<td class="col-md-1 text-center editableCell"> 
									<a href="#" editable-select="mod.estado" e-ng-options="s for s in estadosProductos">
										{{ mod.estado }}
									</a>
					
								<td class="col-md-2 text-center">				
										
									<!-- ELIMINAR  - Si es el unico modelo del producto no se permite eliminarlo -->
									<span 	ng-class="{true: 'disabled'}[!EditEnabled]"
											class="glyphicon glyphicon-remove accionesLst link"  
											title="Quitar producto del pedido"
											ng-click="(!EditEnabled) || remove($index)">
									</span>
				 
								</td>
							</tr>
							<tr><td class="avisoSmall" colspan="6" style="text-align=center" ng-if="pedido.modelos.length == 0">
								No hay productos en el pedido</td>
							</tr>
						</tbody>
					</table>										
					</div>
				
					<br/>
			
					<div ng-if="userRole == 'admin'" class="resumenPedido form-horizontal pull-right" role="form">
						
						<label style="margin-right:15px;"> Subtotal:  {{pedido.total | currency}} </label>
						
						<div class="form-group">
				
						    <label for="bonif" class="col-sm-9 control-label small">Bonificación:</label>
						    
						    <div class="col-sm-2"  style="padding:0px">
						    	<input type="text" class="form-control" id="bonif" ng-model="pedido.bonificacion">
						    </div>
						    
						    <label for="bonif" class="col-sm-1 control-label small" style="text-align:left;padding-left:6px;">%</label>
				
						</div>
						
						<hr/>
						
						<label style="margin-right:15px;"> Total:  {{ pedido.totalFinal | currency }} </label>
						
						<br>
						
						<div class="colForm pull-right autocompleteFP">
							<input type="text" autocomplete="off" ng-model="pedido.FP"  class="form-control small" 
									placeholder="Forma de pago"
									typeahead="fp for fp in fps | filter:$viewValue" />
						</div>
	 				
	 				</div>
	 			</div>	
				
			</div>	
			



		</div> <!-- / modal-body -->
						
						            
        <div class="modal-footer">
        	
	        <button ng-if="pedido.id != null" class="btn btn-danger btn-sm pull-left" ng-click="deletePedido()">Eliminar pedido</button>

	        <button class="btn btn-primary" ng-click="print()">Guardar e imprimir</button>
            <button class="btn btn-primary" ng-click="ok()">Guardar</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            
        </div>
   